*:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-black-blue: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  background-color: var(--Very-dark-blue);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
main {
  min-height: 100vh;
  padding: 0 3rem;
  margin: 0 auto;
}
.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.main-header {
  font-size: 3rem;
  margin-top: 7rem;
  color: var(--White);
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.counter {
  display: flex;
  justify-content: space-around;
  font-size: 4rem;
  gap: 2rem;
  text-align: center;
  margin-top: 4rem;
  color: var(--Soft-red);
}

.text {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--Grayish-blue);
  margin-top: 1rem;
}

.day-num {
  display: flex;
  flex-direction: column;
  background-color: var(--Dark-desaturated-blue);
  padding: 1rem;
}
.hour-num {
  display: flex;
  flex-direction: column;
  background-color: var(--Dark-desaturated-blue);
  padding: 1rem;
}
.minutes-num {
  display: flex;
  flex-direction: column;
  background-color: var(--Dark-desaturated-blue);
  padding: 1rem;
}
.seconds-num {
  display: flex;
  flex-direction: column;
  background-color: var(--Dark-desaturated-blue);
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  gap: 2rem;
  text-align: center;
  margin-top: 10vh;
}
.logos {
  display: flex;
  gap: 5rem;
}

.compny-logo {
  width: 4rem;
}

.attribution {
  font-size: 1.6rem;
  color: var(--Grayish-blue);
}

.attribution a {
  color: var(--Soft-red);
}
